

<html>
<body>
    <div class="row">
        <div class="col-4">
            <table>
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <td>----</td>
                    </tr>
                    <tr>
                        <th>Event Time</th>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th>Place</th>
                        <td>---</td>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="col-4">
            <img alt="QRCode" src="" />
        </div>
    </div>
    
</body>
</html>