@model EventShow.Models.EventCategory
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}


<main>
    <div class="container-fluid d-flex justify-content-center" style="padding-top:3em">

        <div class="card col-lg-9">

            <div class="card-header">

                <div class="d-flex" style="justify-content:space-between">

                    <div style="font-size:x-large">
                        Edit Event Category List
                    </div>

                    <div>
                        <a asp-action="Index" class="btn btn-secondary" w-100">Back</a>
                    </div>

                </div>

            </div>

            <div class="card-body">


                <form asp-action="Edit" asp-controller="EventCategory" method="post">


                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="EventCategoryId" />

                    <div>

                        <div class="mb-3 d-flex justify-content-center">

                            <label asp-for="EcategoryName" class="col-form-label">Event Category Name</label>
                            <input asp-for="EcategoryName" class="form-control" style="width:300px; height:50px; margin-left:3em">

                        </div>

                        

                        <div class="container-fluid d-flex justify-content-center">
                            <input type="submit" class="btn btn-primary btn-lg" value="Save" />
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</main>



